.skills__container {
  grid-template-columns: repeat(2, 500px);
  column-gap: 80px;
  justify-content: center;
}

.skills__content {
  background-color: var(--container-color);
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 32px 64px;
  border-radius: 100px;
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.skills__box {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.skills__data {
  display: flex;
  column-gap: 8px;
  color: var(--container-color-main);
}

.skills .bx-badge-check {
  font-size: 16px;
  color: var(--title-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 25px;
}

.skills__level {
  font-size: var(--tiny-font-size);
  color: var(--title-color-dark);
}

/* Applied for large devices */
@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 32px;
  }
}

/* Applied for mid-range devices */
@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__content {
    padding: 24px;
  }
}

/* Applied for small devices */
@media screen and (max-width: 350px) {
  .skills__box {
    column-gap: 20px;
  }

  .skills__name {
    font-size: var(--small-font-size);
  }
}
